body {
    color: #222023;
    font family: "Josefin Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
    font size: 1em;
    line-height: 1.5em;
}

header {
    padding: 0 0 2em 0;
    text-align: center;
}

